.App {
  text-align: center;
}

.list-group,
.btns {
  margin-bottom: 20px;
}

.btns:last-child {
  margin-bottom: 0;
}

.btn {
  margin-right: 10px;
}

.btns:last-child {
  margin-right: 0;
}

.clr-red {
  color: red;
}

.alert {
  margin-top: -20px;
  margin-bottom: 35px;
}

.blinking {
  animation: blinkingText 1s infinite 10s;
}

@keyframes blinkingText {
  0% {
    color: red;
  }
  49% {
    color: transparent;
  }
  50% {
    color: transparent;
  }
  99% {
    color: transparent;
  }
  100% {
    color: red;
  }
}

.minutes {
  position: absolute;
  left: 0px;
  top: -47%;
}

h1 {
  margin-bottom: 2.5rem;
}

h6,
label {
  margin-bottom: 0;
}
